<span class='about-us-title p-b-10 p-t-40 p-l-130 no-select text-white'>ABOUT US</span>

	<img class="no-select p-t-50 p-l-130" width="500px" draggable="false" src="../assets/images/KOTF_Logo.png" alt="Logo">

	<div class="col-sm-10">
		<span class='about-us-content p-b-40 p-t-40 p-l-130 no-select text-white'>We are <span class="blue">Kingdoms of the Future</span>, an innovative AQW server that tries to change the basic AQW dynamics with new functions and features. We also have a 100% balanced server. We work every day to improve everything.</span>
	</div>
