<!DOCTYPE html>
<html>
<head>
<!-- Website Title -->
<title>Kingdoms of the Future v2</title>
<!-- Website Icon -->
<link rel="icon" type="image/png" href="../../assets/images/favicon.png"/>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- FontAwesome -->
<link rel="stylesheet" type="text/css" href="../../assets/css/fontawesome/css/all.css">
<!--===============================================================================================-->

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/custom.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/custom1.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/hot_news.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/css/menu.css">
</head>
<body style='background-color: #222222;'>
