<center>
  <img class="no-select p-t-150 img-fluid" draggable="false" src="../assets/images/KOTF_Logo.png" alt="Logo" width="450">
  <h1 class="store-titles p-t-30 text-white">STORE</h1>
</center>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-violet">
        <h4 class="my-0 font-weight-bold text-white">Founder <span class="w3-text-orange" style="text-shadow: 2px,2px, orange;">(HOT OFFERT)</span></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><span class="w3-text-gray"><strike>$23</strike></span> $19 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">700K Kingdom Coins</li>
            <li class="font-weight-bold">700K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
            <li class="font-weight-bold">Access to founder shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Founder.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
  </div>

<main role="main">
      <div class="album py-5">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top no-select" src="../../assets/images/store/Beta_Bersk1.png" alt="Image Packge">
                <div class="card-body">
                  <p class="card-text">Beta Package</p>
                  <h5 class="card-title pricing-card-title">$6.99 <small class="text-muted">/ USD</small></h5>
                  <small>Normal Package</small>
                    <form class="paypal" action="../../templates/includes/paypal/beta_normal_package.php" method="post" id="paypal_form">
                        <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
                      </form>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top no-select" src="../../assets/images/store/PackageShadwEmperPirat.png" alt="Image Packge">
                <div class="card-body">
                  <p class="card-text">Shadow Special Package <small>Whit class</small></p>
                  <h5 class="card-title pricing-card-title">$10 <small class="text-muted">/ USD</small></h5>
                  <small>Special Package</small>
                      <form class="paypal" action="../../templates/includes/paypal/ShadwEmperPackage.php" method="post" id="paypal_form">
                        <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
                      </form>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top no-select" src="../../assets/images/store/Card_Caster.png" alt="Image Packge">
                <div class="card-body">
                  <p class="card-text">Card Package</p>
                  <h5 class="card-title pricing-card-title">$10 <small class="text-muted">/ USD</small></h5>
                  <small>Special Package</small>
                      <form class="paypal" action="../../templates/includes/paypal/card_special_package.php" method="post" id="paypal_form">
                        <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>


<div class="container p-b-70">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 1 week</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$2 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">50k Kingdom Coins</li>
            <li class="font-weight-bold">50K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip1Week.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 1 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">100K Kingdom Coins</li>
            <li class="font-weight-bold">100K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip1Month.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 2 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$7 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">150K Kingdom Coins</li>
            <li class="font-weight-bold">150K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip2Months.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 3 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">200K Kingdom Coins</li>
            <li class="font-weight-bold">200K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip3Months.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
  </div>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 6 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$11 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">250K Kingdom Coins</li>
            <li class="font-weight-bold">250K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip6Months.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 9 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$13 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">300K Kingdom Coins</li>
            <li class="font-weight-bold">300K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip9Months.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">Vip 12 month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ USD</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="font-weight-bold">500K Kingdom Coins</li>
            <li class="font-weight-bold">500K Gold</li>
            <li class="font-weight-bold">Access to vip shops / maps</li>
          </ul>
          <form class="paypal" action="../../templates/includes/paypal/Vip12Months.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
  </div>
  
  <div class="card-deck mb-3 text-center">
     <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">1M Coins</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5.99 <small class="text-muted">/ USD</small></h1>
          <form class="paypal" action="../../templates/includes/paypal/1mCoins.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">2M Coins</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$6.99 <small class="text-muted">/ USD</small></h1>
          <form class="paypal" action="../../templates/includes/paypal/2mCoins.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">3M Coins</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$7.99 <small class="text-muted">/ USD</small></h1>
          <form class="paypal" action="../../templates/includes/paypal/3mCoins.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header store-header-blue">
        <h4 class="my-0 font-weight-bold text-white">5M Coins</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9.99 <small class="text-muted">/ USD</small></h1>
          <form class="paypal" action="../../templates/includes/paypal/5mCoins.php" method="post" id="paypal_form">
            <input class="btn btn-lg btn-block nikki-btn" type="submit" name="submit" value="Buy"/>
          </form>
      </div>
    </div>
  </div>
</div>
      
