<!-- Footer -->
<footer class="page-footer font-small blue bg-white fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://kotf.altriontm.org"> Kingdoms Of The Future</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer End -->

<!-- Jquery -->
<script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->

<!-- Pooper JS -->
<script src="../../vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->

<!-- Bootstrap JS -->
<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->

<!-- Custom JS -->
<script src="../../assets/js/custom.js"></script>
<!--===============================================================================================-->
<script src="../../assets/js/menu.js"></script>
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<!--===============================================================================================-->

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!--===============================================================================================-->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>