<center>
  <div class="aniview pt-5 p-b-100">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="u35941" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="960" height="550">
        <param name="movie" value="../gamefiles/KotfLoader2.0.swf" />
        <param name="LOOP" value="false" />
        <param name="SCALE" value="exactfit" />
        <param name="allowScriptAccess" value="always" />
        <param name="allowFullScreen" value="true" />
        <param name="menu" value="false" />
        <param name="wmode" value="window" />
        <param name="FlashVars" value="&sLang=en" />
        <embed id="gameSWF" src="../gamefiles/KotfLoader2.0.swf" width="960" height="550" loop="false" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" scale="exactfit" allowscriptaccess="always" allowFullScreen="true" menu="false" flashvars="&sLang=en">
        </embed>             
      </object>
    </div>
</center>