<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-cyan w3-card w3-left-align w3-large m-b-100">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-cyan" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="https://kingdomsothefuture.com/Home" class="w3-bar-item w3-button w3-padding-large w3-white nav-link">Home</a>
    <a href="https://kingdomsothefuture.com/Play" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Game</a>
    <a href="https://kingdomsothefuture.com/Register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Register</a>
    <a data-toggle="modal" data-target="#RankingModal" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Ranking</a>
    <a data-toggle="modal" data-target="#DonationsModal" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Donations</a>
    <a data-toggle="modal" data-target="#MapsModal" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Maps</a>
    <a href="https://kingdomsothefuture.com/Manage-Account" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Manage Account</a>
    <a href="https://kingdomsothefuture.com/News" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">News</a>
    <a href="https://kingdomsothefuture.com/Store" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Store</a>
    <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white nav-link">Users Online: <?php include '../templates/includes/users_online.php'; ?></a>
    
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="https://kingdomsothefuture.com/Game" class="w3-bar-item w3-button w3-padding-large">Game</a>
    <a href="https://kingdomsothefuture.com/Register" class="w3-bar-item w3-button w3-padding-large">Register</a>
    <a data-toggle="modal" data-target="#RankingModal" class="w3-bar-item w3-button w3-padding-large">Ranking</a>
    <a data-toggle="modal" data-target="#MapsModal" class="w3-bar-item w3-button w3-padding-large">Maps</a>
    <a data-toggle="modal" data-target="#DonationsModal" class="w3-bar-item w3-button w3-padding-large">Donations</a>
    <a href="https://kingdomsothefuture.com/Manage-Account" class="w3-bar-item w3-button w3-padding-large">Manage Account</a>
    <a href="https://kingdomsothefuture.com/News" class="w3-bar-item w3-button w3-padding-large">News</a>
    <a href="https://kingdomsothefuture.com/Store" class="w3-bar-item w3-button w3-padding-large">Store</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large">Users Online: <?php include '../templates/includes/users_online.php'; ?></a>
    
  </div>
</div>
